body{
    background-color: black;
    font-family: 'Lucida Sans Unicode', sans-serif;
    color: whitesmoke;
}

header{
    padding: 10px;
    margin-left: 15%;
}

main{
    padding: 10px;
    margin-left: 15%;
}

h1{
    
}

a{
    color: #AD03DE;
}

a:hover{
    color: #cf54f1;
}

footer{
    background-color: lightgray;
    min-height: 50px;
    padding: 10px;
}

.sos{
    color:#c2f2df;
}

.separator{
    margin-top: 50px;
}

.blog-image{
    max-width: 400px;
}


.blog-section{
    max-width: 400px;
}

@media screen and (max-width: 600px) {
    main{
        margin-left: 0px;
    }

    header{
        margin-left: 0px;
    }

    .blog-image{
        width: 100%;
    }

    .blog-section{
        width: 100%;
    }
}
