body{
    color: white;
    background-color: black;
}

header{
    text-align: center;
}

.art-container-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill,
    minmax(300px, 1fr));
    grid-gap: 10px
}

.art-container-grid > div{
    font-size: 20px;
    padding: 1rem;
    color: yellow;
    text-align: center;
    background: black;
    outline-color: white;
    outline-width: 1px;
    outline-style: solid;
}

.art-container-grid > div:hover{
    outline-color: yellow;
    outline-width: 1px;
    outline-style: solid;
}

.light-section{
    padding: 1px;
    outline: solid white;
    margin-top: 10px;
    margin-bottom: 10px;
}

.qrcode-landing-page{
    text-align: center;
}

.qrcode-image-container-landing-page{
    
}
